/* main */

body {
    background: #F4F7FB;

    padding: 0;
    margin: 0;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

    font-family: 'Nunito', sans-serif;

    z-index: 2;
}

.container {
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 2100px){
    .container{
        width: 95%;
    }
    .logo64{
        display: none;
    }  
}

@media screen and (max-width: 1400px){
    .container{
        width: 95%;
    }
    .logo64{
        display: none;
    }  
}

@media screen and (max-width: 1024px){
    .container{
        width: 85%;
    }
    .logo64{
        display: block;
    }
    .logo122{
        display: none;
    }
}

ul{padding: 0;}

li{list-style-type: none;}


/* header  */
header {
    padding: 15px 0;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    list-style-type: none;
}

.header-block {  display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header-logo header-row_top"
      "header-logo header-row_down";
}
@media screen and (max-width:1024px){
    .header-block {
        grid-template-areas:
      "header-row_top header-row_top"
      "header-logo header-row_down";
      grid-template-columns: 0.15fr 1.85fr;
    }
}
  
.header-logo { grid-area: header-logo; }
  
.header-row_top {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . .";
    grid-area: header-row_top;

    justify-items: center;
    align-items: center;
}
@media screen and (max-width:1400px){
    .header-row_top {
        grid-template-columns: 0.4fr 0.5fr 0.6fr 1fr 0.7fr;
    }
}
@media screen and (max-width:1024px){
    .header-row_top {
        grid-template-columns: 0.4fr 0.5fr 0.6fr 1fr 0.7fr;
    }
}
@media screen and (max-width: 768px){
    .header-row_top {
        grid-template-columns: 1fr 1fr 1fr 0.5fr 1.5fr;
    }
}

.header-row_down {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . .";
    grid-area: header-row_down;

    justify-items: center;
    align-items: center;
}
@media screen and (max-width:1024px){
    .header-row_down {
        grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}


.header-row_top li{
    color: #313B59;

    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
}

.header-row_top li:hover{
    color: #F47A0B;
    text-decoration-line: underline;

    cursor: pointer;
}
  
  


/* /header-btn/ */

.header-btn {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #e27410;

    padding: 8px 24px;
}
@media screen and (max-width: 768px){
    .header-btn{
        padding: 11px 6px;
    }
}


.header-btn:hover div{
    color: #e27410;
    cursor: pointer;
}

.header-btn div {
    border: 0;
    padding: 0;

    margin-left: 8px;

    color: #313B59;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 768px){
    .header-btn div{
        display: none;
    }
}


/* phone */

.phone {
    display: flex;
    align-items: center;

    color: #e27410;
}

.phone:hover div{
    color: #e27410;

    cursor: pointer;
}

.phone div {
    margin-left: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    color: #313B59;
}
@media screen and (max-width: 768px){
    .phone div{
        font-size: 14px;
    }
}



/* header-row_down */
.header-row_down li{
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;

    color: #313B59;

    position: relative;
}
@media screen and (max-width: 768px){
    .header-row_down li{
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }
}

.header-row_down li:hover{
    color: #e27410;
    
    cursor: pointer;
}

.header-row_down li:hover::before {
    content: url(./img/target-marker.png);

    position: absolute;

    top: -60%;
    right: 43%;
}

.header-links_down{
    display: flex;
    justify-content: space-between;
}

.header-row_down-clild5{
    display: none;
}

@media screen and (max-width: 768px){
    .header-row_down {  display: grid;
        grid-template-columns: 1.2fr 0.9fr 1fr 1fr 0.9fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . .";
    } 
    .header-row_down-clild5{
        display: block;
    }
    .header-row_down-clild6{
        display: none;}  
    .header-row_down-clild7{
        display: none;}   
    .header-row_down-clild8{
        display: none;}    
}




/* main_banner */

.main_banner{
    background: url(./img//banner2.png) no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 600px;
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_banner h1{
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    
    color: #FFFFFF;
    
    margin-bottom: 40px;

    position: relative;
}
@media screen and (max-width: 768px){
    .main_banner h1 {  
        font-weight: 900;
        font-size: 48px;
        line-height: 110%;
    }   
}


.main_banner h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 2px;
    background: linear-gradient(90deg,#e27410 -3.97%,rgba(196,196,196,0) 102.88%,#025ea1 102.88%);
    left: 0;
    bottom: -20px;
}

.banner-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    
    color: #FFFFFF; 
}


/* banner-items */

.banner-items{
    display: flex;
    justify-content: space-between;

    margin-top: 120px;
}

.banner-item{
    max-width: 386px;
    width: 100%;
    box-sizing: border-box;
    height: 89px;
    padding: 16px 24px;
    border-radius: 4px;
    background: #fff;
    transition: all .3s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner_line-break{
    display: none;
}
@media screen and (max-width:1024px){
    .banner_line-break {
        display: block;
    }
}

.banner-item:hover{
    background: #f47a0b;
    transform: translateY(-16px);
}

@media screen and (max-width:1024px){
    .banner-item:nth-child(1) {
        max-width: 220px;
    }
    .banner-item:nth-child(2) {
        margin: 0 5px;
    }
}

.banner-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;

    color: #2D3343;
}
@media screen and (max-width: 768px){
    .banner-item p {  
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }   
}

.banner-item:hover p{
    color: white;
}

.banner-item img{
    margin-right: 10px;
 }

.banner-item:hover img{
    filter: brightness(0) invert(1);
}



/* services */

.services-block{
    margin: 90px 0;
}

.services-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services-title h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

    margin-right: 10px;

    color: #313B59;
}
@media screen and (max-width: 768px){
    .services-title h1{  
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }   
}

.services-wrap {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 40px; 
    grid-template-areas: 
      "services-div1 services-div2 services-div3"
      "services-div1 services-div4 services-div5"; 
}
.services-div1 { grid-area: services-div1; position: relative; }
.services-div2 { grid-area: services-div2; position: relative;}
.services-div3 { grid-area: services-div3; position: relative;}
.services-div4 { grid-area: services-div4; position: relative;}
.services-div5 { grid-area: services-div5; position: relative;}


@media screen and (max-width:1024px){
    .services-wrap {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 40px 40px;
        grid-auto-flow: row;
        grid-template-areas:
          "services-div1 services-div2"
          "services-div1 services-div3"
          "services-div5 services-div4";
      }

      .services-wrap p{
        font-weight: 600;
        font-size: 18px;
        line-height: 145%;
      }
      
      .services-div1 { grid-area: services-div1; }
      .services-div2 { grid-area: services-div2; }
      .services-div3 { grid-area: services-div3; }
      .services-div4 { grid-area: services-div4; }
      .services-div5 { grid-area: services-div5; }
      
}
.services-div1:hover{
    background: #F47A0B;
    box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
    transform: translateY(-25px);
}

.services-div2:hover{
    background: #F47A0B;
    box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
    transform: translateY(-25px);
}

.services-div3:hover{
    background: #F47A0B;
    box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
    transform: translateY(-25px);
}

.services-div4:hover{
    background: #F47A0B;
    box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
    transform: translateY(-25px);
}

.services-div5:hover{
    background: #F47A0B;
    box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
    transform: translateY(-25px);
}

.services-wrap div {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    border-radius: 4px;
    margin: 0;
    padding: 32px;

    transition: all .3s ease;

    color: #fff;

    background: linear-gradient(90deg, #014C88 0%, #015DA0 48.84%, #026AB3 103.05%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.services-wrap img {
    z-index: 5;
}

.services-wrap img {
    z-index: 5;
}


.services-div1::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    bottom: -56px;
    left: -130px;
    z-index: 1;
}
.services-div1:hover::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    bottom: -56px;
    left: -95px;
    z-index: 6;

    filter: hue-rotate(187deg);

    transition: all .3s ease;
}

.services-div2::after  {
    position: absolute;
    content: url(./img/vector\ small.png);
    left: -40px;
    top: 148px;
}
.services-div2:hover::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    top: 66px;
    left: -105px;
    z-index: 6;

    filter: hue-rotate(187deg);

    transition: all .3s ease;
}

.services-div3::after {
    position: absolute;
    content: url(./img/vector\ small.png);
    left: -40px;
    top: 148px;
}
.services-div3:hover::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    top: 66px;
    left: -105px;
    z-index: 6;

    filter: hue-rotate(187deg);

    transition: all .3s ease;
}

.services-div4::after {
    position: absolute;
    content: url(./img/vector\ small.png);
    left: -40px;
    top: 148px;
}
.services-div4:hover::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    top: 66px;
    left: -105px;
    z-index: 6;

    filter: hue-rotate(187deg);

    transition: all .3s ease;
}

.services-div5::after{
    position: absolute;
    content: url(./img/vector\ small.png);
    left: -40px;
    top: 148px;
}
.services-div5:hover::after{
    position: absolute;
    content: url(./img/vector\ big.png);
    top: 66px;
    left: -105px;
    z-index: 6;

    filter: hue-rotate(187deg);

    transition: all .3s ease;
}

.services-div1:hover .link-detail{
    transform: translateY(-102px);
}
.services-div2:hover .link-detail{
    transform: translateY(-75px);
}
.services-div3:hover .link-detail{
    transform: translateY(-75px);
}
.services-div4:hover .link-detail{
    transform: translateY(-75px);
}
.services-div5:hover .link-detail{
    transform: translateY(-75px);
}

.link-detail:hover {
    text-decoration: underline;
    
    cursor: pointer;
}

.link-detail{
    position: absolute;
    bottom: -60px;
    left: 22px;
    z-index: 15;

    transition: all .3s ease;
}

.link-detail svg{
    margin-left: 10px;
}


/* process-block */
.process-block{
    background: #F4F7FB;

    margin: 150px 0;

}

.process-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-wrap h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

    color: #313B59;

    text-align: center;
}
@media screen and (max-width: 768px){
    .process-wrap h1{  
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }   
}

.process-wrap ul{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    position: relative; 
}

.process-wrap ul::before{
    content: '';
    position: absolute;
    width: 85%;
    height: 8px;
    background: linear-gradient(90deg,#025392 -3.97%,rgba(196,196,196,0) 102.88%,#f4f7fb 102.88%);
    left: 50%;
    transform: translateX(-50%);
    top: 65px;

    z-index: 1;
}
@media screen and (max-width: 768px){
    .process-wrap ul::before{  
        width: 118%;
        left: 73%;
    }   
}


.process-wrap ul li{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 150px;
    z-index: 2;
}

.process-wrap ul li p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin: 0;
    
}



/* TEAM */

.team-block h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #313B59;

    text-align: center;
}
@media screen and (max-width: 768px){
    .team-block h1{  
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }   
}


.galery-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 14px 14px;
    grid-auto-flow: row;
    grid-template-areas:
      "galery-img1 galery-img3 btn-gallery_block galery-img6"
      "galery-img2 galery-img4 btn-gallery_block galery-img7";
      align-items: end;
    }
  
  .galery-img1 { grid-area: galery-img1; }
  
  .galery-img2 { grid-area: galery-img2; }
  
  .galery-img3 { grid-area: galery-img3; }
  
  .galery-img4 { grid-area: galery-img4; }
  
  .btn-gallery_block {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 14px 14px;
    grid-auto-flow: row;
    grid-template-areas:
      "galery-img5"
      "btn-galery";
    grid-area: btn-gallery_block;
  }
  
  .galery-img5 { grid-area: galery-img5; }
  
  .btn-galery { grid-area: btn-galery; }
  
  .galery-img6 { grid-area: galery-img6; }
  
  .galery-img7 { grid-area: galery-img7; }
  

  .galery-container img{
    width: 99%;
  }
.btn-galery{
    height: 100%;
    background: url(./img/MyCollages1337.png) no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-galery button{
    padding: 8px 24px;
    background: #E27410;
    border-radius: 4px;
    border: 0;

    color: #FFFFFF;
}

.btn-galery button:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* form-block */

.form-block{
    background: linear-gradient(90deg, #014C88 0%, #015DA0 48.84%, #026AB3 103.05%);
}
@media screen and (max-width: 768px){
    .form-block{  
        padding-top: 90px;
    }   
}

.wrap-form {
    display: flex;
}

.wrap-form h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #FFFFFF;
}
@media screen and (max-width: 768px){
    .wrap-form{  
        display: block;
    }  
    .wrap-form h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }
}

.form-inputs {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 0.3fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "inputs ."
      ". .";
  }
  
  .inputs {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      ".";
    grid-area: inputs;
  }

  .form_call-me h5 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
  }

  .form_call-me p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    color: #FFFFFF;
  }

.box-nomber{
    position: relative;
}
@media screen and (max-width:1024px) {
    .box-nomber{
        margin: 0 0 0 27px;
    }
}

.box-nomber::after{
    content: url(./img/phoneFooter.png);
    position: absolute;
    top: 8px;
    left: -30px;
}

.call-me_block{
    width: 34%;
}

.call-me_block h1{
    font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        color: #FFFFFF;
}
@media screen and (max-width:768px) {
    .call-me_block h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%; 
    }
}

@media screen and (max-width:768px) {
    .form_call-me{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:768px) {
    .call-me_block{
        width: 100%;
    }
}




/* contacts */

.contacts {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "box-1 box-2"
      "box-3 box-4";
  }
  
  .box-1 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
    grid-area: box-1;
  }
  
  .box-2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
    grid-area: box-2;
  }
  
  .box-3 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    grid-area: box-3;
  }
  
  .box-4 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    grid-area: box-4;
  }

  .contacts-block{
    display: flex; 
    justify-content: flex-end;
  }

  @media screen and (max-width:768px) {
    .contacts-block{
        flex-direction: column-reverse;

        padding-top: 90px;
      }
}

.contact-title{
    font-weight: 700;
    font-size: 56px;   
    line-height: 120%;  
    color: #313B59;
}

  .contacts-wrap{
    width: 46%;
  }
  @media screen and (max-width:768px) {
    .contacts-wrap{
        width: 100%;

        margin: 0 0 0 60px;

        padding-bottom: 75px;
    }
    .contact-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }
}


  .contact-map{
    width: 46%;
  }
  @media screen and (max-width:768px) {
    .contact-map{
        width: 100%;
        height: 500px;
    }
    .box-1_name{margin: 0 0 0 30px;}
    .box-2_name{margin: 0 0 0 30px;}
    .box-3_name{margin: 0 0 0 30px;}
    .box-4_name{margin: 0 0 0 30px;}
}

  .contacts-block h5{
    margin: 0;
  }

  .contacts-block p{
    margin: 0;
  }

.box-1_name{
    position:relative
}
.box-1_name::after{
    content:url(./img/phoneFooter.png);
    position: absolute;
    top: -2px;
    left: -32px;
}

.box-3_name{
    position:relative
}
.box-3_name::after{
    content:url(./img/phoneFooter.png);
    position: absolute;
    top: -2px;
    left: -32px;
}

.box-2_name{
    position:relative
}
.box-2_name::after{
    content:url(./img/iconEmail.png);
    position: absolute;
    top: -2px;
    left: -32px;
}

.box-4_name{
    position:relative
}
.box-4_name::after{
    content:url(./img/iconClock.png);
    position: absolute;
    top: -2px;
    left: -32px;
}


@media screen and (max-width:1024px) {
    .wall-form-block{
        margin: 0 20px;
    }
}





/* modal */

.modal{
    display: none;
    position: absolute;
    top: 159px;
    right: 103px;

    transition: 0.1s linear;
}

.modal_body{
    width: 450px;

    background-color: #fff;

    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1), inset 0px 2px 0px #F47A0B;
    border-radius: 2px;
}

.modal_content div{
    padding: 17px 73px 17px 38px;

    font-weight: 400;
    font-size: 18px;
    line-height: 145%;

    color: #313B59;
    position: relative;
}
.modal_content div:hover::before{
    content: url('./img/modalHoverIcon.png');
    position: absolute;
    top: 12%;
    right: 273px;
}

.modal_content div:hover{
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;

    color: #F47A0B;

    cursor: pointer;
}
  
  
  

  
